version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"

  app:
    image: username/our-app:latest  # ЗАМЕНИ username на свой!
    ports:
      - "5000:5000"
    depends_on:
      - redis
      - qdrant
    environment:
      - REDIS_HOST=redis
      - QDRANT_HOST=qdrant
